html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
:root {
    --gray-color: #EEEFF1;
    --black-color: #000;
    --ultra_gray-color: #727272;
    --white-color: #fff;
    --background-color: #34547A;
    --background_bar-color: #999;
    --textarea-color: #5F5D5D;
}
.text-h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
}
.text-h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
}
.text-p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
}
.header {
    background-color: var(--gray-color); 
    padding-bottom: 145px;
}
.header__inner-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 123px;
}
.header__logo {
    color: var(--accent-color);
    font-family: 'Revalia', cursive;
    font-size: 48px;
    text-transform: uppercase;
    padding-left: 0px;
}
.header__navigation {
    display: flex;
    list-style: none;
    padding-top: 21px;
    margin: 0;
}
.header__navigation li a {
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 35px;
    margin-right: 9px;
    letter-spacing: 1.5px;
}
.header__navigation li a:hover {
    background-color: #26f213;
    color: var(--white-color);
    border-radius: 5px;
}
.header__inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header__grid-left {
    padding-top: 39px;
    padding-left: 81px; 
}
.header__grid-right {
    padding-left: 15px;
    padding-top: 7px;
}
.header__h1 {
    color:var(--black-color);
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 164.063%;
}
.header_p {
    margin: 34px 0 52px 0;
}
.header__btn {
    width: 226px;
    height: 65px;
    background-color: var(--background-color);
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
    letter-spacing: 1.5px;     
    color: var(--white-color);
}
.about-item {
    margin: auto;
    padding-top: 118px;
}
.about_h2 {
    text-align: center;
}
.about_p {
    color: var(--ultra_gray-color);
    text-align: center;
    margin-top: 39px;
    padding-bottom: 92px;
}
.numbers {
    min-height: 250px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers__flex {
    display: flex;
    justify-content: space-between;
    width: 1090px;
}
.numbers__item {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.numbers__text {
    padding-top: 4px;
}
.numbers_h3 {
    color: var(--white-color);
}
.numbers_p {
    color: var(--white-color);
}
.container__bar {
    width: 1150px;
    margin: 0 auto;
}
.progress-bar-video__grid {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}
.progress-bar__ {
    padding-top: 103px;
}
.progress-bar_h2 {
    padding: 0 0  12px 1px;
    color: #000;
}
.progress-bar-item {
    margin-top: 16px;
    display: flex;
    width: 445px;
    height: 4px;
    background-color: var(--background_bar-color);
}
.progress-bar-completed {
    background-color: var(--background-color);
}
.progress-bar_p {
    margin-top: 30px;
    margin-left: 2px;   
}
.img__skills {
    background-size: cover;
    padding-left: 21px;
}
.work {
    min-height: 1004px; 
    background-color: var(--gray-color); 
    margin: 0 auto;
}
.work-item { 
    margin-left: auto;
    margin-right: auto;
    padding-top: 101px;
    margin-bottom: 49px;
}
.work_h2 {
    text-align: center;
}
.work_p {
    padding-top: 40px;
    color: var(--ultra_gray-color);
    text-align: center;
}
video {
    cursor: pointer;
    width: 1110px;
    height: 600px; 
} 
.portfolio {
    padding-top: 30px;
}
.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
}
.portfolio__grid-item:nth-child(2) { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(img/icon.png);
    background-size: cover;
    position: relative;
}    
.portfolio__grid-item:nth-child(2) .portfolio__img  {   
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}    
.card-filter {
    position: absolute;
    background-color: var(--background-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease;
}
.portfolio__grid-item:nth-child(2):hover .portfolio__img {
    opacity: 1;
}
.portfolio__grid-item:nth-child(2):hover .card-filter {
    opacity: 0.8;
}
.partners {
    padding-top: 72px;
    margin-bottom: 100px;
}
.partners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.partners__item:nth-child(4n) {
    margin-right: 0;
}
.form {
    min-height: 762px;
    background-color: var(--gray-color);
}
.form__title {
    max-width: 540px;
    margin: 0 auto;
    padding-top: 101px;
}
.form_h2 {
    color: var(--black-color);
    text-align: center;
}
.form_p {
    color: var(--ultra_gray-color);
    text-align: center;
    padding-top: 38px;
}
.form__flex {
    max-width: 540px;
    margin: 0 auto;
    padding-top: 58px;
    text-align: center;
}
.form__write-top {
    min-width: 540px;
}
.form__items-flex {
    display: flex;
    margin-bottom: 20px;
}
.form__text,.form__email {
    border: none;
    width: 255px;
    height: 50px;
    background-color: var(--white-color);
    padding: 20px;
}
.form__textarea {
    border: none;
    width: 540px;
    margin: 0 auto;
    padding: 0;
}
.placeholder {
    color:var(--textarea-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 164.063%; 
    padding-left: 20px;
} 
.form__text {
    margin-right: 30px;
}
.form__textarea {
    padding-top: 14px;
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    line-height: 164.063%; 
    margin-bottom: 47px;
    padding-left: 20px;
}
.form__btn {
    width: 190px;
    height: 55px;
    background-color: var(--background-color);
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 164.063%; 
    letter-spacing: 2.1px;
}
.footer {
    background-color: var(--background-color);
    min-height: 154px;
}
.footer__flex {
    width: 1127px;
    height: 154px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__flex-left {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_h3 {
    color: var(--white-color);
}
.footer_p {
    color: var(--white-color);
    font-size: 13px;
    line-height: 164.063%;
    padding-top: 12px;
}
.footer__flef-right {
    width: 176px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1150px) {
    .container {
        width: 100%;
    }
    .header__inner-flex {
        display: block;
        padding-top: 30px; 
        text-align: center;
    }
    .header__navigation {
        justify-content: center;
        padding-left: 0;
    } 
    .header__navigation li a{
        padding-left: 0;
    } 
    .header__inner-grid {
        display: block;
        text-align: center;
    }
    .header__grid-left {
        padding: 0px;
    }
    .header__screen {
        margin: 0 auto;
    }
    .numbers__flex {
        flex-wrap: wrap;
    }
    .progress-bar-video__grid {
        display: block;
        text-align: center;
        margin-bottom: 0;
        padding-top: 0;
    }
    .progress-bar-item {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .img__skills {
        width: 600px;
        height: 600px;
        margin: 0 auto;
        padding: 0;
    }
    .container__bar {
        width: auto;
    }
    .footer__flex {
        justify-content: space-around;
    }
    .work-item_video {
        text-align: center;
    }
}
@media screen and (max-width: 1100px) {
    .numbers__flex {
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .partners__flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }
    video {
        width: 900px;
        height: 500px;
    }
    .footer__flex {
        width: auto;
    }
}
@media screen and (max-width: 990px) {
    .partners__flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .work {
        min-height: 600px;
    }
    video {
        width: 500px;
        height: 280px;
    }
}
@media screen and (max-width: 630px) {
    .numbers__flex {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .img__skills {
        width: auto;
    }
    .form__textarea {
        width: 400px;
    }
    .form__items-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .form__text {
        margin-right: 0;
    }
}    
@media screen and (max-width: 510px) {
    .header__navigation {
        display: block;;
    } 
    .header_p {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about_p {
        padding-left: 20px;
        padding-right: 20px;
    }
    .progress-bar__ {
        padding-left: 20px;
        padding-right: 50px;
    }
    .progress-bar-item  {
        max-width: 300px;
    }
    video {
        width: 400px;
        height: 220px;
    }
    .form_p {
        padding-left: 20px;
        padding-right: 20px;
    }
    .form__write-top {
        min-width: 100%;
    }
    .container__bar {
        height: 700px;;
    }
    .work_p {
        padding-left: 20px;
        padding-right: 20px;
    }
}    
@media screen and (max-width: 425px) {
    video {
        width: 300px;
        height: 170px;
    }
    .form__textarea {
        width: 300px;
    }
}
@media screen and (max-width: 360px) {
    .numbers__flex {
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .progress-bar-item  {
        max-width: 200px;
    }
    .footer__flex {
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
}